<h1>Angular com Keycloak</h1>

<button *ngIf="isLogado" type="button" (click)="logout()">
  Logout
</button>
<button *ngIf="!isLogado" type="button" (click)="login()">
  Login
</button>

<ng-container *ngIf="perfilUsuario">
  <h2>Informações do Usuário</h2>
  <table>
    <tr *ngIf="perfilUsuario.username">
      <th scope="row">Username</th>
      <td>{{ perfilUsuario.username }}</td>
    </tr>
    <tr *ngIf="perfilUsuario.firstName">
      <th scope="row">Nome</th>
      <td>{{ perfilUsuario.firstName }} {{ perfilUsuario.lastName }}</td>
    </tr>
    <tr *ngIf="perfilUsuario.email">
      <th scope="row">Email</th>
      <td>{{ perfilUsuario.email }}</td>
    </tr>
    <tr>
      <th scope="row">Email Verificado</th>
      <td>{{ perfilUsuario.emailVerified ? "Sim" : "Não" }}</td>
    </tr>
  </table>
</ng-container>
